.lewati {
  /* Gaya komponen skip link agar tersembunyi kecuali saat di-focus */
  position: absolute;
  top: -999px;
  left: -999px;
}

.lewati:focus {
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  padding: 8px 16px;
  z-index: 1000;
}
/* Penanda kolom yang BELUM SAH setelah dicoba diisi */
